/**
 * Add Card Styles
 *
 * @author :: Karthikk Tamil Mani, B00838575
 */

@import '../../../variables';

.payments-list {
  .card-header {
    padding: .75rem 1.25rem .25rem;
    background-color: #F8F8FE;
    border: none;
    .btn {
      position: relative;
      top: -25px;
      padding-right: 0;
    }
  }

  .card {
    border-radius: 5px;
  }

  .card-label {
    display: block;
    font-size: 0.85rem;
    font-weight: 600;
  }

  .card-title {
    font-size: 0.95rem !important;
  }

  .close-icon {
    color: $primary-color;
  }
}
